body {
  font-family: sans-serif;
}

.search-container {
  display: flex;
}
.search-input {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  gap: 8px;
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 20px;
}
.search-input input {
  border: none;
  height: 30px;
}
.search-input input:focus {
  outline: none;
}

.suggestion-list {
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
  list-style: none;
  padding: 5px;
  margin: 5px;
}

.suggestion-list li {
  display: flex;
  border-bottom: solid 1px #ccc;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #ccc;
}

.suggestion-list li:last-child {
  border-bottom: none;
}

.suggestion-list img {
  height: 20px;
}
.pill {
  display: flex;
  background-color: black;
  color: white;
  gap: 8px;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.pill img {
  height: 20px;
}

.suggestion-list li.active {
  background-color: #ccc;
}
